@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HTML to PDF </h1>
    <p class="lead">Convierte tu HTML a un PDF.</p>
    <p>@Html.ActionLink("Probar el código", "ConvertirHTMLToPDF", "Home", new { },new { @class= "btn btn-primary btn-lg" })</p>
    <p><a href="https://www.nuget.org/packages/htmlrenderer.pdfsharp/" class="">Se usó HtmlRenderer.PdfSharp &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Haz tu HTML</h2>
        <p>
            Crea tu html con tus super poderes de diseñador web
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Envialo por postman para probarlo [Método Post]</h2>
        <p>Usa Postman y envia el body en json, si no pones nada, no pasa nada, el código enviará un ejemplo</p>
        
    </div>
    <div class="col-md-4">
        <h2>Visualiza tu PDF</h2>
        <p>Listo, el sistema habrá generado tu PDF.</p>
    </div>
</div>